body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,red,black);
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 90px;
}
#add-task
{
    margin-top: 30px;
    height: 30px;
    width: 400px;
}
#add-btn{
    margin-top: 30px;
    height: 35px;
    width: 45px;
}